{% extends "admin/model/details.html" %}

{% block details_table %}
  <table class="table table-hover table-bordered searchable">
  {% for c, name in details_columns %}
    <tr>
	    <td>
		    <b>{{ name }}</b>
	    </td>
            <td> 
		    {{ get_value(model, c) }}
            </td>
    </tr>
  {% endfor %}

  {% if model.status=='done' %}
    <tr>
	    <td><b>Execution time (s)</b></td>
	    <td>{{ model.stop - model.start }}</td>
    </tr>
  {% elif model.status=='running' %}
    <tr>
	    <td><b>Running time (s)</b></td>
	    <td>{{ running_time(model.start) }}</td>
    </tr>

  {% endif %}

    <tr>
	    <td><b>Actions</b></td>
	    <td>

  <div class="buttons" style="display: inline-block;">
  {% if model.status=='running' %}
  <a class="btn btn-primary" href="{{ url_for('task.kill_view', id=model.id) }}">Kill task</a>

  {% elif model.status=='done' %}
  <a class="btn btn-primary" href="{{ url_for('taskoutput', task_id=model.id) }}">Output</a>

  {% endif %}
  </div>
	    </td>
    </tr>



  </table>
{% endblock %}
