{% extends "admin/model/details.html" %}

{% block details_table %}
  <table class="table table-hover table-bordered searchable">
  {% for c, name in details_columns %}
    <tr>
	    <td>
		    <b>{{ name }}</b>
	    </td>
            <td> 
		    {{ get_value(model, c) }}
            </td>
    </tr>
  {% endfor %}

    <tr>
	    <td><b>Actions</b></td>
	    <td>

  <div class="buttons" style="display: inline-block;">
  {% if model.status=='running' %}
  <form action="{{ url_for('task.kill_view', id=model.id) }}" style="display: inline;" method="get">
	  <input type="submit" value="Kill task">
	  <input type="text" name="id" id="id" value="{{ model.id }}" hidden>
  </form>
  {% elif model.status=='done' %}
  <form action="{{ url_for('taskoutput', task_id=model.id) }}" style="display: inline;" method="get">
	  <input type="submit" value="Output">
	  <input type="text" name="task_id" id="task_id" value="{{ model.id }}" hidden>
  </form>

  {% endif %}
  </div>
	    </td>
    </tr>



  </table>
{% endblock %}
