{% extends "admin/model/details.html" %}

{% block details_table %}
  <table class="table table-hover table-bordered searchable">
  {% for c, name in details_columns %}
    <tr>
	    <td>
		    <b>{{ name }}</b>
	    </td>
            <td> 
		    {{ get_value(model, c) }}
            </td>
    </tr>
  {% endfor %}
    <tr>
	    <td><b>Actions</b></td>
	    <td>

  <div class="buttons" style="display: inline-block;">
  {% if model.status=='installed' %}
  <a class="btn btn-primary" href="{{ url_for('module.test_view', id=model.id) }}">Run default</a>
  {% endif %}
  <a class="btn btn-primary" href="{{ url_for('module.dockerfile_view', id=model.id) }}">Dockerfile</a>
  <a class="btn btn-primary" href="{{ url_for('module.requirements_view', id=model.id) }}">Requirements</a>
  <a class="btn btn-primary" href="{{ url_for('module.metadata_view', id=model.id) }}">Metadata</a>

  </div>
	    </td>
    </tr>



  </table>


{% endblock %}
